{% extends "layout.html" %}
{% block content %}
<div class="content_about">
      <div class="container-1">
        <div class="box-1">
          <h3>I'm Helene Dahan.</h3>
          <p>I was born in Paris, and made my Aliya.<br>
          I find my daily happiness in creation.</p>
        </div>
        <div class="box-2"></div>
        <div class="box-3">
          <h1>Let's talk!</h1>
          <p>You can contact me by phone, Whatsapp or Messenger<br><br>
              <span style="font-weight: 500">+972-52-453-4888</span><br><br><span style="font-weight: 500">Helene Dahan</span> on Facebook
          </p>
        </div>
      </div>

      <div class="container-2">
        <div class="box-4"></div>
        <div class="box-5"></div>
      </div>

        <div class="container-3">
      <div class="container-3-box">
        <h3>WORKSHOPS</h3>
        </div>
      <div class="container-3-box">
        <h3>PRIVATE SALES</h3>
        </div>
      <div class="container-3-box">
        <h3>EVENTS</h3>
      </div>
      <div class="container-3-box">
        <h3>WEEKLY LESSONS</h3>
      </div>
    </div>
</div>
{% endblock content %}