{% extends "layout.html" %}
{% block content %}
<div class="container mb80" style="margin-top: 80px">
    <div class="page-timeline">
        <div class="vtimeline-point">
            <div class="vtimeline-icon"></div>
            <div class="vtimeline-block">
                <span class="vtimeline-date">August 26, 2021</span><div class="vtimeline-content">
                    <img src="../static/images/fernando-jorge-2dtvA_QgF6Q-unsplash.jpg" alt="Dubai" class="img-fluid mb20">
                    <h3 class="post_title">Birthday trip to Sinai</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p><br>
                </div>
            </div>
        </div>
    </div>

 <div class="page-timeline">
        <div class="vtimeline-point">
            <div class="vtimeline-icon"></div>
            <div class="vtimeline-block">
                <span class="vtimeline-date">July 4, 2021</span><div class="vtimeline-content">
                    <img src="../static/images/aviv-ben-or-g_Abgn1slAM-unsplash.jpg" alt="Ramat Hagolan" class="img-fluid mb20">
                    <h3 class="post_title">Summer trip to Ramat Ha'Golan</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p><br>
                </div>
            </div>
        </div>
 </div>

     <div class="page-timeline">
        <div class="vtimeline-point">
            <div class="vtimeline-icon"></div>
            <div class="vtimeline-block">
                <span class="vtimeline-date">June 11, 2021</span><div class="vtimeline-content">
                    <img src="../static/images/nil-castellvi-ZG5_505mUog-unsplash.jpg" alt="Paris" class="img-fluid mb20">
                    <h3 class="post_title">Visiting family in Paris</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p><br>
                </div>
            </div>
        </div>
     </div>

    </div>
</div>
{% endblock content %}